{% extends "base.html" %}


{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
                 
{% endblock %}
{% block content %}

    <div class="container">
        <h1>Contests</h1>
        <a href="{{ url_for('quiz.create_contest') }}" class="btn btn-primary">Create Contest</a>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Types</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                <tr>
                    <td>{{ contest.id }}</td>
                    <td>{{ contest.name }}</td>
                    <td>{{ contest.types }}</td>
                    <td>
                        <a href="{{ url_for('quiz.edit_contest', id=contest.id) }}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{{ url_for('quiz.view_contest', id=contest.id) }}" class="btn btn-sm btn-info">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}