{% extends "base.html" %}


{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
                 
{% endblock %}
{% block content %}

<div class="container">
    
    <div class="container">
        <h1>View Contest</h1>
        <p><strong>Name:</strong> {{ contest.name }}</p>
        <p><strong>Types:</strong> {{ contest.types }}</p>
        <a href="{{ url_for('quiz.edit_contest', id=contest.id) }}" class="btn btn-warning">Edit</a>
        <a href="{{ url_for('quiz.create_exam', id=contest.id) }}" class="btn btn-warning">Adicionar</a>
    </div>
    <div class="container mt-5">
    <h2>Lista de Provas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ano</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Exam in exams %}
            <tr>
                <td>{{ Exam.id }}</td>
                <td>{{ Exam.name }}</td>
                <td>{{ Exam.year }}</td>
                <td>{{ Exam.description }}</td>
                <td>{{ Exam.types }}</td>
                <td>
                <!--  
                <a href="{{ url_for('quiz.edit_contest', id=contest.id) }}" class="btn btn-sm btn-warning">Edit</a>
                -->
                <a href="{{ url_for('quiz.view_exam', id=Exam.id) }}" class="btn btn-sm btn-info">View</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}


