{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Gerador de Questionário</h2>

        <form action="{{url_for('panel.generate_quiz')}}" method="post">
            <div class="form-group">
                <label for="text">Digite o texto:</label>
                <textarea class="form-control" id="text" name="text" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gerar Questionário</button>
        </form>
    </div>

{% endblock %}

