<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <form action="/cadastro" method="post">
            <input type="email" name="email" placeholder="Endereço de e-mail" required>
            <input type="email" name="confirm_email" placeholder="Confirme o e-mail" required>
            <select name="country" required>
                <option value="" disabled selected hidden>País de residência</option>
                <option value="BR">Brasil</option>
                <!-- Adicione outras opções de país aqui -->
            </select>
            <button type="submit">Continuar</button>
        </form>
    </div>
</body>
</html>