{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Questionário</h2>
        <form action="{{url_for('panel.quiz_create' , id = id)}}" method="post" id="quizForm">
            <div class="container mt-5">
    <h3>Selecione as opções desejadas:</h3>
    <div class="form-inline">
      <div class="form-check mr-3">
        <input type="checkbox" class="form-check-input" id="matematica" name="matematica">
        <label class="form-check-label" for="matematica">Matemática</label>
      </div>
      <div class="form-check mr-3">
        <input type="checkbox" class="form-check-input" id="portugues" name="portugues">
        <label class="form-check-label" for="portugues">Português</label>
      </div>
      <div class="form-check mr-3">
        <input type="checkbox" class="form-check-input" id="legislacao" name="legislacao">
        <label class="form-check-label" for="legislacao">Legislação</label>
      </div>
      <div class="form-check mr-3">
        <input type="checkbox" class="form-check-input" id="conhecimentos-gerais" name="conhecimentos-gerais">
        <label class="form-check-label" for="conhecimentos-gerais">Conhecimentos Gerais</label>
      </div>
      <div class="form-check mr-3">
        <input type="checkbox" class="form-check-input" id="conhecimentos-especificos" name="conhecimentos-especificos">
        <label class="form-check-label" for="conhecimentos-especificos">Conhecimentos Específicos</label>
      </div>
    </div>


      
  </div>
            {% for x in headers %}
            <div class="card mt-3">
                <div class="card-body">
                    <p>{{ x }}</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{x}}" id="vf{{ loop.index }}" value="vf">
                        <label class="form-check-label" for="vf{{ loop.index }}">Verdadeiro ou falso</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{x}}" id="cabecalho{{ loop.index }}" value="cabecalho" checked>
                        <label class="form-check-label" for="cabecalho{{ loop.index }}">Cabeçalho</label>
                    </div>
                    <!--
                    <button type="button" class="btn btn-secondary btn-sm mt-2 edit-btn" data-question="{{ x }}">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm mt-2 delete-btn">Excluir</button>
                    -->
                </div>
            </div>
            {% endfor %}

            {% for question in questions %}
            <div class="card mt-3">
                <div class="card-body">
                    <p>{{ question }}</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question }}" id="vf{{ loop.index }}" value="vf" checked>
                        <label class="form-check-label" for="vf{{ loop.index }}">Verdadeiro ou falso</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question }}" id="cabecalho{{ loop.index }}" value="cabecalho" >
                        <label class="form-check-label" for="cabecalho{{ loop.index }}">Cabeçalho</label>
                    </div>
                    <!--

                    <button type="button" class="btn btn-secondary btn-sm mt-2 edit-btn" data-question="{{ question }}">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm mt-2 delete-btn">Excluir</button>
                    -->
                    
                </div>

            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Gravar Perguntas</button>
        </form>
    </div>


    
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>        
        
        
        /*
        codigo para editar perguntas direto, não rolou
        $(document).ready(function () {
            // Botão de editar
            $('.edit-btn').on('click', function () {
                // Obtém o texto da pergunta
                var questionText = $(this).data('question');
                
                // Substitui o texto atual pelo texto da pergunta
                var answer = prompt("Editar pergunta:", questionText);

                // Atualiza o texto da pergunta na interface
                if (answer !== null) {
                    $(this).siblings('p').text(answer);
                    $(this).attr("name", answer);
                }
            });

            // Botão de excluir
            $('.delete-btn').on('click', function () {
                // Confirmação antes de excluir
                var confirmDelete = confirm("Tem certeza que deseja excluir esta pergunta?");
                if (confirmDelete) {
                    // Remove o card da pergunta
                    $(this).closest('.card').remove();
                }
            });
        });
        */
    </script>
</body>
</html>

{% endblock %}





