{% extends "base.html" %}


{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
                 
{% endblock %}
{% block content %}
{{questions}}

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4 offset-md-3">
      <div class="card">
        <div class="card-header bg-primary text-white">
                    {{exam.name}}
                </div>
        <div class="card-body">
          <h5 class="card-title">Questão 1:</h5>
          <p class="card-text">Qual é a capital do Brasil?</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="alternativa" id="alternativa1" value="option1">
            <label class="form-check-label" for="alternativa1">
              Brasília
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="alternativa" id="alternativa2" value="option2">
            <label class="form-check-label" for="alternativa2">
              Rio de Janeiro
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="alternativa" id="alternativa3" value="option3">
            <label class="form-check-label" for="alternativa3">
              São Paulo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="alternativa" id="alternativa4" value="option4">
            <label class="form-check-label" for="alternativa4">
              Belo Horizonte
            </label>
          </div>
        </div>
      </div>

      <div class="justify-content-center mt-4" >
        <div class="justify-content-center row">
            
        <button type="button" class="btn btn-primary">Anterior</button>
        <button type="button" class="btn btn-danger">Sair</button>
        <button type="button" class="btn btn-primary">Próxima</button>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}




