{% extends "base.html" %}


{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
                 
{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    {{exam.name}}
                </div>
                <div class="card-body">
                    <div class="btn-group-vertical w-100">
                        <button type="button" class="btn btn-light">Número 
                        de Questões: {{exam.count}}</button>
                        <button type="button" class="btn btn-light">Tipo de Prova: {{exam.types}}</button>
                        <button type="button" class="btn btn-light">{{exam.description}}</button>
                        <!-- Adicione mais botões conforme necessário -->
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('exam.releaze', id=exam.id) }}" class="btn btn-success">Realizar Prova</a>
                    <a href="{{ url_for('exam.edit', id=exam.id) }}" class="btn btn-info">Editar Prova</a>
                    <a href="{{ url_for('question.create', id=exam.id) }}" class="btn btn-info">Incluir Questão</a>
                    
                    
                </div>
            </div>
        </div>
    </div>


</div><!--end div conteiner-->
  <div class="container">
    <h1>Questões</h1>
    
    <!-- Abas de Categorias -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {%if tags:%}
        {%for x in tags:%}
          <li class="nav-item">
            
            <a class="nav-link" id="{{x}}-tab" data-toggle="tab" href="#{{x}}" role="tab" aria-controls="{{x}}" aria-selected="true">{{x}}</a>
          </li>
        {%endfor%}
      {%endif%}
      
    </ul>
    
    <!-- Conteúdo das Abas -->
<div class="tab-content" id="myTabContent">
    


    {%if tags:%}
        {%for y in tags:%}
    <div class="tab-pane fade" id="{{y}}" role="tabpanel" aria-labelledby="{{y}}-tab">
        <!-- Questões de Conhecimentos Específicos -->
        <div class="category">
            {%if questions: %}
                {%for x in questions:%}
                {%if x.tag == y:%}
                    <div class="card">    
                        <div class="card-body">
                            <h5 class="card-title">Questão {{x.id}}:</h5>
                            <p class="card-text"> {{x.text}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('question.view', question_id=x.id, exam_id=exam.id  ) }}" class="btn btn-primary">Responder</a>
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
            {%else%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Não existe</h5>

                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    {%endfor%}
      {%endif%}



</div>




</div>




{% endblock %}


