{% extends "base.html" %}


{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
                 
{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    {{exam.name}}
                </div>
                <div class="card-body">
                    <div class="btn-group-vertical w-100">
                        <button type="button" class="btn btn-light">Número 
                        de Questões: {{exam.count}}</button>
                        <button type="button" class="btn btn-light">Tipo de Prova: {{exam.types}}</button>
                        <button type="button" class="btn btn-light">{{exam.description}}</button>
                        <!-- Adicione mais botões conforme necessário -->
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('exam.releaze', id=exam.id) }}" class="btn btn-success">Realizar Prova</a>
                    <a href="{{ url_for('exam.edit', id=exam.id) }}" class="btn btn-info">Editar Prova</a>
                    <a href="{{ url_for('question.create', id=exam.id) }}" class="btn btn-info">Incluir Questão</a>
                    
                    
                </div>
            </div>
        </div>
    </div>


</div><!--end div conteiner-->
  <div class="container">
    <h1>Questões</h1>
    
    <!-- Abas de Categorias -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="portugues-tab" data-toggle="tab" href="#portugues" role="tab" aria-controls="portugues" aria-selected="true">Português</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="matematica-tab" data-toggle="tab" href="#matematica" role="tab" aria-controls="matematica" aria-selected="false">Matemática</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="gerais-tab" data-toggle="tab" href="#gerais" role="tab" aria-controls="gerais" aria-selected="false">Conhecimentos Gerais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="especificos-tab" data-toggle="tab" href="#especificos" role="tab" aria-controls="especificos" aria-selected="false">Conhecimentos Específicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="texto-tab" data-toggle="tab" href="#texto" role="tab" aria-controls="texto" aria-selected="false">Texto Interpretação</a>
      </li>
    </ul>
    
    <!-- Conteúdo das Abas -->
<div class="tab-content" id="myTabContent">
    

    <div class="tab-pane fade show active" id="portugues" role="tabpanel" aria-labelledby="portugues-tab">
        <!-- Questões de Português -->
        <div class="category">
            {%if questions: %}
                {%for x in questions:%}
                
                    {%if x.tag == 'portugues':%}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Questão {{x.id}}:</h5>
                                <p class="card-text"> {{x.text}}</p>
                                
                            </div>
                        </div>
                    {%endif%}
                {%endfor%}
            {%else%}
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Não existe</h5>

                    </div>
                </div>
            {%endif%}
        </div>
    </div>

    <div class="tab-pane fade" id="matematica" role="tabpanel" aria-labelledby="matematica-tab">
        <!-- Questões de Matemática -->
        <div class="category">
            {%if questions: %}
                {%for x in questions:%}
                    {%if x.tag == 'matematica':%}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Questão {{x.id}}:</h5>
                                <p class="card-text"> {{x.text}}</p>
                                
                            </div>
                        </div>
                    {%endif%}
                {%endfor%}
            {%else%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Não existe</h5>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>

    <div class="tab-pane fade" id="gerais" role="tabpanel" aria-labelledby="gerais-tab">
        <!-- Questões de Conhecimentos Gerais -->
        <div class="category">
            {%if questions: %}
                {%for x in questions:%}
                    {%if x.tag == 'conhecimentos_gerais':%}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Questão {{x.id}}:</h5>
                                <p class="card-text"> {{x.text}}</p>
                                
                            </div>
                        </div>
                    {%endif%}
                {%endfor%}
            {%else%}
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Não existe</h5>

                    </div>
                </div>  
            {%endif%}
        </div>
    </div>

    <div class="tab-pane fade" id="texto" role="tabpanel" aria-labelledby="testo-tab">
        <!-- Questões de Conhecimentos Específicos -->
        <div class="category">
            {%if questions: %}
                {%for x in questions:%}
                {%if x.tag == 'texto':%}
                    <div class="card">

                        <div class="card-body">

                            <h5 class="card-title">Texto para interpretação</h5>
                            <p class="card-text"> {{x.text}}</p>
                            
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
            {%else%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Não existe</h5>

                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div class="tab-pane fade" id="especificos" role="tabpanel" aria-labelledby="especificos-tab">
        <!-- Questões de Conhecimentos Específicos -->
        <div class="category">
            {%if questions: %}
                {%for x in questions:%}
                {%if x.tag == 'conhecimentos_especificos':%}
                    <div class="card">

                        <div class="card-body">

                            <h5 class="card-title">Questão {{x.id}}:</h5>
                            <p class="card-text"> {{x.text}}</p>
                            
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
            {%else%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Não existe</h5>

                    </div>
                </div>
            {%endif%}
        </div>
    </div>



</div>




</div>




{% endblock %}


